<div class="py-6">
	<ul class="flex gap-20 justify-center">
		<li>
			<a href="@Url.Action("Index", "Home")">HOME</a>
		</li>
		<li>
			<a href="@Url.Action("Prenota", "Home")">PRENOTA</a>
		</li>
		<li>
			<a href="@Url.Action("Index", "Pizza")">MENU</a>
		</li>
		<li>
			<a href="@Url.Action("Index", "Home")">
				<img src="https://www.pizzeriavesuvio.it/wp-content/uploads/2021/09/Pizzeria-Vesuvio-logo.png" style="height: 128px;"/>
			</a>
		</li>
		<li>
			<a href="@Url.Action("Manage", "Pizza")">GESTISCI</a>
		</li>
		<partial name="_LoginPartial" />
	</ul>
</div>